* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #bdf3cb;
    color: rgb(97, 97, 97);
    font-family: Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* HEADER */

.first-name {
    color: #dc7783;
}

.last-name {
    color: #fcb0b9;
}

header {
    background-color: #bdf3cb;
    box-shadow: 0 2px 2px 0 #b0e1bd;
    padding: 20px;
    position: fixed;
    width: 100%;
}

header .mobile {
    display: none;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    border-radius: 5px;
    color: rgb(97, 97, 97);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    text-transform: lowercase;
}

header nav ul li a:hover {
    color: #dc7783;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-name {
    font-weight: bold;
    font-size: 30px;
}


/* SECTIONS */

section {
    padding: 90px 90px;
}

p {
    font-size: 18px;
    line-height: 23px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


/* THEME */

.matcha {
    background-color: #8acf8e;
}

.strawberry {
    background-color: #fec3ca;
}


/* HOME SECTION */

#home {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 140px 20px 90px 20px;
}

#home .intro-image img {
    border-radius: 10px;
    box-shadow: #aa626b 0 0 10px;
    max-height: 350px;
}

#home .intro-text {
    max-width: 500px;
}

#home .intro-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

#home button {
    background-color: #dc7783;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#home button:hover {
    background-color: #ffafb8;
}


/* SKILLS SECTION */

#skills {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;
}

#skills .skills-text {
    margin: 40px 20px;
    max-width: 40%;
}

.skill-panels {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.panel {
    background-color: #93d997;
    border-radius: 10px;
    flex: 1;
    min-height: 10px;
    padding: 20px;
    width: 250px;
}

.panel-heading {
    align-items: center;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    gap: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.panel-content {
    font-size: 18px;
    margin-bottom: 20px;
}

.panel:hover {
    background-color: #4f7b51;
    box-shadow: 0 5px 3px 0 #6d9f6f;
    color: white;
    transform: translateY(-10px);
    transition: 0.4s;
}

.panel-heading i {
    color: #5b885d;
}

.panel:hover .panel-heading i {
    color: #9de8a0;
}


/* ABOUT ME SECTION */

#about {
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 30px 90px;
}

#about button {
    background-color: #5b885d;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#about .about-text {
    max-width: 500px;
}

#about button:hover {
    background-color: #9de8a0;
}

#about .about-me-collage img{
    max-height: 500px;
}

/* CONTACT SECTION */

#contact {
    padding: 90px 350px;
}

#contact p {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

/* RESPONSIVE RULES */

/* @media screen and (max-width: 624px) {
    header {
        background-position: 0 100px;
        height: 200px;
    }
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }} */

/* FOOTER */

footer {
    background: #bdf3cb;
    color: rgb(145, 145, 145);
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}